@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;

    --radial-gradient-background: 152, 52, 170;
    --solid-color-background: 0, 0%, 98%;
    --overlay-color: 152, 52, 170;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radial-gradient-background: 152, 52, 170;
    --solid-color-background: 0, 0%, 98%;
    --overlay-color: 152, 52, 170;

  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--muted));
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted));
    border-radius: var(--radius);
    border: 3px solid hsl(var(--background));
  }

  .dark ::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted));
    border: 3px solid hsl(var(--background));
  }
}

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative bg-gradient-to-b from-zinc-800 to-zinc-900 rounded-2xl overflow-hidden;
  }
  /* Gradient */
  .card-wrapper::before {

    background: conic-gradient(
      rgba(152, 52, 170, .5) 0deg,
      rgba(192, 133, 202, .5) 0deg,
      transparent 80deg
    );
    @apply absolute top-[-50%] left-[-25%] h-[200%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute bg-gradient-to-b from-slate-900 to-zinc-950 rounded-2xl;
  }
}

.radial-gradient {
  background: radial-gradient(
    circle at 50% 0%,
    /* rgba(var(--radial-gradient-background), 0.05) 0%, */
    rgba(250, 250, 250, .05) 0%,
    transparent 100%
  ), rgba(15, 15, 15, 1);
  /* rgba(var(--solid-color-background), 1); */
}
.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    rgba(152, 52, 170, 1) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    rgba(152, 52, 170, 1) calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(152, 52, 170, 1) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    rgba(152, 52, 170, 1) calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(152, 52, 170, 0.1) calc(var(--x) + 20%),
    rgba(152, 52, 170, 1) calc(var(--x) + 25%),
    rgba(152, 52, 170, .1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}


